// Insert snippet 06-footer-scss here
.footer {
    a {
        color: inherit;

        &:hover,
        &:focus {
            color: white;
        }
    }

    // Insert snippet 10-social-media-footer-scss here
    .fjord-social {
        @include size(64px);
        line-height: 64px;
    
        &:hover,
        &:focus {
            color: white !important;
        }
    }
}

#footer {
    color: $poweredByColor;
    color: var(--footer-powered-by-color, $poweredByColor);
    margin-top: var(--footer-top-margin);
  
    > .container {
      padding-bottom: var(--footer-container-padding);
      padding-top: var(--footer-container-padding);
    }
  }